<form action="/api/sessions/reset-password/{{token}}" method="POST">
  <input type="password" name="password" placeholder="New password" required="true" />
  <input
    type="password"
    name="confirmPassword"
    placeholder="Confirm new password"
    required="true"
  />
  <button type="submit">Reset Password</button>
</form>

{{>menu}}