<form action="/api/sessions/forgot-password" method="POST">
  <input type="email" name="email" placeholder="Email" required="true" />
  <button type="submit">Send recovery email</button>
</form>

{{>menu}}